customCommands:
  - key: '<c-f>' # Ctrl-f (think "full screen") to show selected commit
    context: 'commits'
    command: "git show {{.SelectedLocalCommit.Sha}}"
    description: "Show selected commit"
    output: terminal
git:
  pagers:
    - colorArg: always
      pager: delta --paging=never --line-numbers
  commit:
    autoWrapCommitMessage: false
