customCommands:
  - key: '<c-f>'  # Ctrl-f (think "full screen") to show selected commit
    context: 'commits'
    command: "git show {{.SelectedLocalCommit.Sha}}"
    subprocess: true
    description: "Show selected commit"
    stream: true
git:
  paging:
    colorArg: always
    pager: delta --paging=never --line-numbers
  commit:
    autoWrapCommitMessage: false
