* {
  background-image: none;
}
window {
  background-image: image(
    url("/home/maruf/.config/wallpapers/iceberg-minimalist.jpg"),
    url("/home/maruf/.config/wallpapers/iceberg-minimalist.jpg")
  );
}
button {
  background-color: #2e3440;
  border-width: 0px;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  color: #5e81ac;
}

button:active,
button:hover {
  background-color: #4c566a;
  color: #81a1c1;
  outline-style: none;
  transition:
    all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 0.5s ease-in;
}

#lock {
  opacity: 0.7;
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#logout {
  opacity: 0.7;
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  opacity: 0.7;
  background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  opacity: 0.7;
  background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  opacity: 0.7;
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  opacity: 0.7;
  background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
